[upstream]
host = "https://bitcraft-early-access.spacetimedb.com"
reconnect_base_offset_secs = $OFFSET$
reconnect_region_offset_secs = 5

[[upstream.default_dump_schedule]]
# feature renderers - every 15 min
schedule = "0 */15 * * * *"
tables = [
    { name = "claim_state" },
    { name = "claim_local_state" },
    { name = "claim_tech_state" },
    { name = "waystone_state" },
    { name = "bank_state" },
    { name = "marketplace_state" },
    { name = "world_region_name_state" },
]
$REGIONS$
[metrics]
port = 9090
node = "$NAME$"

[relay]
uri = "ws://spacetimedb:3000"
module = "prism-relay"

[pipelines]
resources = true
growth_timers = true
growth_resource_tags = ["World Event", "Hexite", "Wonder Resource"]
enemies = true
players = true
claims = true
crafts = false